Repository iBHunt91/FossaWorkV2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        files: \.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        files: \.py$

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]
        files: \.py$

  # JavaScript/TypeScript formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|css|md|json)$
        exclude: ^(node_modules|dist|build)/

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock\.json

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ["-r", "backend/", "--skip", "B101"]
        files: \.py$

  # Vulnerability scanning
  - repo: https://github.com/pyupio/safety
    rev: v3.0.1
    hooks:
      - id: safety
        args: ["check", "--json", "--continue-on-error"]
        files: requirements\.txt$

  - repo: https://github.com/returntocorp/semgrep
    rev: v1.45.0
    hooks:
      - id: semgrep
        args: ['--config=auto', '--error']
        exclude: ^(node_modules|dist|build|tests)/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  # Custom FossaWork checks
  - repo: local
    hooks:
      - id: no-hardcoded-secrets
        name: Check for hardcoded secrets
        entry: scripts/security/check-hardcoded-secrets.py
        language: python
        files: \.(py|js|ts|jsx|tsx)$
        pass_filenames: true

      - id: check-file-organization
        name: Check file organization
        entry: scripts/quality/check-file-organization.py
        language: python
        pass_filenames: false
        always_run: true

      - id: no-base64-encryption
        name: Prevent base64 "encryption"
        entry: scripts/security/check-base64-encryption.py
        language: python
        files: \.py$
        pass_filenames: true

      - id: auth-endpoint-check
        name: Check API endpoint authentication
        entry: scripts/security/check-auth-endpoints.py
        language: python
        files: backend/app/routes/.*\.py$
        pass_filenames: true

# Configuration for detect-secrets
exclude_files: |
  (?x)^(
    .*\.(lock|png|jpg|jpeg|gif|ico|svg)|
    package-lock\.json|
    \.secrets\.baseline
  )$

feat: implement batch selection for work orders
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useProgressPolling.ts
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: improve checkbox click handling in work orders
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: move checkbox outside card structure for better clickability
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: implement proper selective batch dispenser scraping
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

feat: add scraping mutex and progress bar for batch operations
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: use single browser instance for batch dispenser scraping
  backend/app/routes/work_orders.py
  frontend/src/pages/WorkOrders.tsx
  frontend/src/services/api.ts
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

feat: update work orders URL to filter for uncompleted visits
  backend/app/services/workfossa_automation.py
  backend/app/services/workfossa_scraper.py
Due: no-hardcoded-secrets, no-base64-encryption

feat: add weekly calendar view for work orders
  frontend/src/components/WorkOrderWeeklyView.tsx
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: install date-fns dependency for weekly view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: resolve authentication issues by removing demo token and handling 401 errors
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/api.ts
Due: no-hardcoded-secrets

feat: enhance weekly view with modern design and dispenser modal access
  backend/data/credentials/7bea3bdb7e8e303eacaba442bd824004.cred
  frontend/src/App.css
  frontend/src/components/WorkOrderWeeklyView.tsx
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: add missing tooltip component and fix CSS import order
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/tooltip.tsx
  frontend/src/index.css
Due: no-hardcoded-secrets

fix: simplify weekly view and improve functionality
  frontend/src/components/WorkOrderWeeklyView.tsx
Due: no-hardcoded-secrets

feat: major improvements to work orders page and weekly view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/WorkOrderWeeklyView.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/pages/WorkOrders.tsx
  frontend/src/utils/storeColors.ts
Due: no-hardcoded-secrets

fix: improve work order card alignment and badge styling
  backend/data/credentials/7bea3bdb7e8e303eacaba442bd824004.cred
  frontend/public/vite.svg
  frontend/src/components/BatchProcessor.tsx
  frontend/src/components/DebugModal.tsx
  frontend/src/components/DispenserAutomation.tsx
  frontend/src/components/DispenserInfoModal.tsx
  frontend/src/components/WorkOrderWeeklyView.tsx
  frontend/src/components/ui/animated-button.tsx
  frontend/src/index.css
  frontend/src/pages/Automation.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/JobMap.tsx
  frontend/src/pages/WorkOrders.tsx
  frontend/src/services/api.ts
  frontend/src/utils/storeColors.ts
Due: no-hardcoded-secrets

feat: add browser visibility toggle for work order scraping
  backend/app/main.py
  backend/app/routes/work_orders.py
  backend/app/services/workfossa_automation.py
  backend/app/services/workfossa_scraper.py
  backend/app/utils/memory_monitor.py
  docs/guides/browser-visibility-toggle.md
  frontend/src/pages/Settings.tsx
  frontend/src/pages/WorkOrders.tsx
  scripts/testing/test_browser_settings_integration.py
  scripts/testing/test_browser_visibility.py
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

enhance: improve dispenser count badge styling across all views
  frontend/src/components/WorkOrderWeeklyView.tsx
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

feat: enhance dispenser modal and UI with comprehensive improvements
  frontend/src/components/DispenserInfoModal.tsx
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: add BackToTopVisible button to weekly view
  backend/app/main.py
  backend/app/routes/notifications.py
  backend/app/routes/settings.py
  backend/scripts/diagnose_smtp_issue.py
  backend/scripts/test_smtp_curl.sh
  backend/scripts/test_smtp_direct.py
  backend/scripts/test_smtp_endpoint.py
  backend/scripts/testing/test_browser_visibility.py
  backend/scripts/testing/test_notification_endpoint.py
  docs/guides/instruction-badges-guide.md
  docs/implementation-complete/back-to-top-feature.md
  docs/implementation-complete/instruction-badge-styling-improvements.md
  docs/implementation-complete/instruction-badges-final-adjustments.md
  docs/implementation-complete/instruction-parsing-implementation.md
  filterpageplan.md
  frontend/src/components/BackToTop.tsx
  frontend/src/components/BackToTopVisible.tsx
  frontend/src/components/InstructionBadge.tsx
  frontend/src/components/InstructionSummary.tsx
  frontend/src/components/WorkOrderWeeklyView.tsx
  frontend/src/hooks/useProgressPolling.ts
  frontend/src/pages/WorkOrders.tsx
  frontend/src/utils/instructionParser.ts
  package-lock.json
  package.json
  scripts/testing/test-instruction-parsing.js
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

feat: implement container-aware back to top button
  frontend/src/components/BackToTop.tsx
  frontend/src/components/BackToTopVisible.tsx
  frontend/src/components/ScrollDebug.tsx
  frontend/src/components/ScrollTest.tsx
  frontend/src/components/WorkOrderWeeklyView.tsx
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

feat: add comprehensive mobile responsiveness to work orders
  frontend/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/HamburgerMenu.tsx
  frontend/src/components/MobileDrawer.tsx
  frontend/src/components/MobileNavigation.tsx
  frontend/src/components/ui/responsive-card.tsx
  frontend/src/components/ui/responsive-form.tsx
  frontend/src/components/ui/responsive-modal.tsx
  frontend/src/index.css
  frontend/src/pages/WorkOrders.tsx
  frontend/src/styles/responsive-utilities.css
Due: no-hardcoded-secrets

feat: add skip logic and force refresh for dispenser scraping
  backend/app/routes/work_orders.py
  frontend/src/hooks/useProgressPolling.ts
  frontend/src/pages/WorkOrders.tsx
  frontend/src/services/api.ts
  scripts/testing/test_dispenser_skip_logic.py
  scripts/testing/test_edge_cases.py
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

Remove .claude directory containing exposed token and add to .gitignore
  .claude/commands/automate-form-test.md
  .claude/commands/batch-automation-debug.md
  .claude/commands/codebase-cleanup.md
  .claude/commands/context7.md
  .claude/commands/debug-chain.md
  .claude/commands/electron-dev-setup.md
  .claude/commands/find-implementation.md
  .claude/commands/generate-api-docs.md
  .claude/commands/memory-audit.md
  .claude/commands/migrate-tests.md
  .claude/commands/performance-profile.md
  .claude/commands/refactor-component.md
  .claude/commands/security-audit.md
  .claude/commands/security-fix.md
  .claude/commands/security-scan.md
  .claude/commands/sequential_thinking.md
  .claude/commands/test-suite-runner.md
  .claude/commands/windows-tools-check.md
  .claude/settings.local.json
Due: none

feat: implement Weekend Mode with smart week detection
  frontend/src/App.tsx
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

refactor: improve code quality and fix initialization errors
  frontend/docs/ERROR_BOUNDARY_IMPLEMENTATION.md
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/hooks/__tests__/useWeekendMode.test.ts
  frontend/src/hooks/useWeekendMode.ts
  frontend/src/pages/WorkOrders.tsx
  frontend/tests/manual/test-error-boundary.md
Due: no-hardcoded-secrets

fix: resolve isAnyScraping initialization error
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: resolve React hooks order error
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

test: add basic test structure and initial tests
  backend/pytest.ini
  backend/tests/unit/test_scheduler_service_basic.py
  frontend/tests/components/test_weekend_mode_basic.test.ts
Due: no-hardcoded-secrets, no-base64-encryption

docs: add cleanup completion summary
  docs/maintenance/CLEANUP_COMPLETED.md
Due: none

feat: add hourly scraping scheduler backend infrastructure
  backend/app/database.py
  backend/app/main.py
  backend/app/middleware/schedule_debug.py
  backend/app/models/__init__.py
  backend/app/models/scraping_models.py
  backend/app/routes/__init__.py
  backend/app/routes/scraping_schedules.py
  backend/app/services/notification_manager.py
  backend/app/services/scheduler_service.py
  backend/app/services/scheduler_service_mock.py
  backend/app/services/scheduler_service_wrapper.py
  backend/app/services/simple_scheduler_service.py
  backend/app/services/workfossa_scraper.py
  backend/requirements.txt
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

feat: add hourly scraping UI components and integration
  frontend/src/components/CollapsibleSection.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/ScrapingSchedule.tsx
  frontend/src/components/ScrapingStatus.tsx
  frontend/src/hooks/useProgressPolling.ts
  frontend/src/pages/Settings.tsx
  frontend/src/services/api.ts
Due: no-hardcoded-secrets

docs: add comprehensive hourly scraping documentation
  CLAUDE.md
  backend/SCHEDULER_NEXT_RUN_FIX.md
  backend/WORK_ORDER_CLEANUP_IMPLEMENTATION.md
  backend/docs/logging-improvements-jan2025.md
  docs/features/HOURLY_SCRAPING_QUICKSTART.md
  docs/features/HOURLY_SCRAPING_SETUP.md
  docs/features/hourly-scraping.md
Due: none

fix: resolve work orders smart week detection and empty state rendering
  frontend/src/pages/WorkOrders.tsx
Due: no-hardcoded-secrets

fix: resolve critical memory leaks and security issues
  backend/.serena/project.yml
  backend/app/auth/security.py
  backend/app/models/user_models.py
  backend/app/routes/auth.py
  backend/app/routes/work_orders.py
  backend/app/services/encryption_service.py
  backend/scripts/migrate_credentials_encryption.py
  backend/scripts/test_encryption_service.py
  backend/scripts/test_memory_leak_fixes.py
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

chore: update credential file with encrypted data
  backend/data/credentials/7bea3bdb7e8e303eacaba442bd824004.cred
Due: none

security: Remove sensitive data from git tracking and update .gitignore
  .gitignore
  backend/data/credentials/3a2963a39ebba98fb0724a1db2f13d63.cred
  backend/data/credentials/55502f40dc8b7c769880b10874abc9d0.cred
  backend/data/credentials/7bea3bdb7e8e303eacaba442bd824004.cred
  backend/data/credentials/7c4ff521986b4ff8d29440beec01972d.cred
  backend/data/credentials/80bb76f1de123a479e6391a8ee70a7bb.cred
  backend/data/credentials/demo.cred
  backend/data/credentials/fe01ce2a7fbac8fafaed7c982a04e229.cred
  backend/data/job_queue/jobs.json
  backend/data/users/demo/settings/automation_delays.json
  backend/data/users/demo/settings/notification_display.json
  backend/data/users/demo/settings/work_order_filters.json
Due: none

docs: add comprehensive code review and security audit report
  COMPREHENSIVE_CODE_REVIEW_AUDIT.md
Due: none
