Repository iBHunt91/FossaWorkV2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

no-hardcoded-secrets:
  name: Check for hardcoded secrets
  entry: scripts/security/check-hardcoded-secrets.py
  language: python
  pass_filenames: true

no-base64-encryption:
  name: Prevent base64 "encryption"
  entry: scripts/security/check-base64-encryption.py
  language: python
  pass_filenames: true

auth-endpoint-check:
  name: Check API endpoint authentication
  entry: scripts/security/check-auth-endpoints.py
  language: python
  pass_filenames: true

docs: add merge readiness checklist for security-fixes branch
  MERGE_READINESS_CHECKLIST.md
Due: none

fix: resolve scheduler next_run update issues and install APScheduler
  backend/app/services/scheduler_service.py
  backend/scripts/test_schedule_next_run.py
  frontend/src/components/ScrapingSchedule.tsx
  frontend/src/components/ScrapingStatus.tsx
Due: no-hardcoded-secrets, no-base64-encryption

feat: implement filter management page with automatic updates
  CLAUDE.md
  backend/app/main.py
  backend/app/routes/filters.py
  backend/app/services/filter_calculator.py
  docs/implementation-complete/FILTER_PAGE_IMPROVEMENTS_COMPLETE.md
  docs/reports/FILTER_PAGE_CODE_REVIEW_2025_06.md
  frontend/src/App.tsx
  frontend/src/components/DispenserInfoModal.tsx
  frontend/src/components/MobileDrawer.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/filters/DateSelector.tsx
  frontend/src/components/filters/EmptyState.tsx
  frontend/src/components/filters/ErrorState.tsx
  frontend/src/components/filters/FilterDetailsPanel.tsx
  frontend/src/components/filters/FilterSummaryPanel.tsx
  frontend/src/components/filters/FilterVisualization.tsx
  frontend/src/components/filters/FilterWarningsPanel.tsx
  frontend/src/components/filters/FiltersContent.tsx
  frontend/src/components/filters/FiltersSkeleton.tsx
  frontend/src/components/filters/NoDispensersState.tsx
  frontend/src/pages/Filters.tsx
  frontend/src/types/filters.ts
  frontend/src/utils/storeColors.ts
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

docs: add filter feature merge readiness report
  docs/reports/FILTER_FEATURE_MERGE_READINESS.md
Due: none

docs: add comprehensive code audit with security implementation guide
  docs/reports/comprehensive-code-audit-2025-06.md
Due: none

docs: enhance delegation system and add worktree automation
  CLAUDE.md
  docs/planning/FormPrepPage.md
  docs/planning/security-fixes-implementation.md
  scripts/setup/git-worktree-create.sh
  scripts/setup/setup-form-prep-worktree.sh
  scripts/setup/setup-security-fixes-worktree.sh
Due: none

feat: enhance testing dashboard with better visual indicators
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/TestingDashboard.tsx
Due: no-hardcoded-secrets

WIP: Pre-notification template migration checkpoint
  backend/app/routes/notifications.py
  backend/app/routes/testing.py
  backend/app/services/notification_manager.py
  backend/app/services/user_management.py
  backend/current_page_content.html
  backend/failed_scrape_debug.html
  backend/scripts/setup_smtp_for_user.py
  frontend/src/components/filters/DateSelector.tsx
  frontend/src/components/filters/FiltersContent.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Filters.tsx
  frontend/src/pages/TestingDashboard.tsx
  notificatio-v1-migration.md
  notification-template-showcase.html
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

fix: resolve notification system test failures
  backend/app/routes/notifications.py
  backend/app/routes/testing.py
  backend/app/services/desktop_notification.py
  backend/app/services/email_notification.py
  backend/app/services/notification_manager.py
  backend/app/services/pushover_notification.py
  backend/scripts/demo_enhanced_pushover.py
  backend/scripts/testing/generate_notification_test_data.py
  backend/scripts/testing/output/automation_started_enhanced.html
  backend/scripts/testing/output/schedule_change_enhanced.html
  backend/scripts/testing/test_desktop_notifications.py
  backend/scripts/testing/test_enhanced_email_templates.py
  backend/scripts/testing/verify_desktop_notifications_basic.py
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

fix: resolve syntax error and script path after refactoring
  docs/reports/refactoring-completion-summary.md
  frontend/src/pages/Dashboard.tsx
  tools/unix/start-fossawork.sh
Due: no-hardcoded-secrets

fix: resolve startup issues after refactoring
  backend/app/routes/credentials.py
  frontend/src/pages/Dashboard.tsx
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

fix: comprehensive post-refactoring import and syntax error fixes
  backend/app/auth/security_backup.py
  backend/app/routes/automation.py
  backend/app/routes/testing.py
  backend/app/routes/work_orders.py
  backend/app/services/form_automation.py
  backend/app/services/form_automation_browser_integration.py
  backend/app/services/scheduler_service.py
  backend/backup/scheduler_backup_2025_01_26/tests/test_scheduled_job_readiness.py
  backend/scheduler_daemon.py
  backend/test_auth_integration.py
  backend/test_auth_refactored.py
  backend/tests/unit/test_complete_dispenser_workflow.py
  backend/tests/unit/test_content_based_detection.py
  backend/tests/unit/test_content_based_scraper.py
  backend/tests/unit/test_dispenser_click_fix.py
  backend/tests/unit/test_dispenser_comparison.py
  backend/tests/unit/test_dispenser_extraction_details.py
  backend/tests/unit/test_dispenser_fixes.py
  backend/tests/unit/test_dispenser_scraper_updates.py
  backend/tests/unit/test_dispenser_wait_conditions.py
  backend/tests/unit/test_final_dispenser_integration.py
  backend/tests/unit/test_improved_dispenser_click.py
  backend/tests/unit/test_loader_detection.py
  backend/tests/unit/test_prevent_dispenser_reload.py
  backend/tests/unit/test_scheduled_job_readiness.py
  backend/tests/unit/test_scraping_step_by_step.py
  backend/tests/unit/test_smart_loading_detection.py
  backend/tests/unit/test_user_credentials.py
  frontend/src/pages/Dashboard.tsx
Due: no-hardcoded-secrets, no-base64-encryption, auth-endpoint-check

feat: improve Total Work Orders dashboard layout with horizontal store distribution
  frontend/src/pages/Dashboard.tsx
Due: no-hardcoded-secrets

Path conditions:
  no-hardcoded-secrets: any of: \.(py|js|ts|jsx|tsx)$
  no-base64-encryption: any of: \.py$
  auth-endpoint-check: any of: backend/app/routes/.*\.py$
